aiohttp==3.9.5
aioresponses==0.7.6
-e git+https://github.com/azamtoiri/aioselectel_api.git@762b3d39dccdb8ffd4cadf747771aefb4c6945f2#egg=aioselectel_api
aiosignal==1.3.1
anyio==4.4.0
astroid==3.2.2
asyncio==3.4.3
attrs==23.2.0
colorama==0.4.6
dill==0.3.8
environs==11.0.0
frozenlist==1.4.1
idna==3.7
iniconfig==2.0.0
isort==5.13.2
marshmallow==3.21.2
mccabe==0.7.0
multidict==6.0.5
packaging==24.0
platformdirs==4.2.2
pluggy==1.5.0
pylint==3.2.2
pytest==8.2.1
pytest-asyncio==0.23.7
python-dotenv==1.0.1
sniffio==1.3.1
tomlkit==0.12.5
yarl==1.9.4
